h1{
	text-align: center;
	color: blue;
	font-size: 40px;
	font-style: italic;
    font-family: "Times New Roman", "Times", serif;
    background: black;
   }
body{
	background-color: yellow;
}
footer{
	font-size: 10px;
	font-style: italic;
	color: gray;
	text-align: center;
	float: bottom;
}
a{
	text-decoration: none;
	background-color: green;
	color: white;
	border: 2px solid red;
	padding: 7px 20px;
	border-radius: 10px;
}
