h1{
	text-align: center;
	color: blue;
	font-size: 40px;
	font-style: italic;
    font-family: "Times New Roman", "Times", serif;
    background: black;
   }
body{
	background-color: yellow;
}
footer{
	font-size: 10px;
	font-style: italic;
	color: gray;
	text-align: center;
	float: bottom;
}
